// 斷點.
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

// card 高度.
$card-height-1: 35rem;
$card-height-2: 17.5rem;

// 顏色.
$background-facebook: #5d82d1;
// $background-instagram:#5d82d1;
$background-youtube: #ff0000;
